@font-face {
    font-family: susto;
    src: url(./fontes/Scary\ Halloween\ Font.ttf) format('truetype');
}


.titulo{
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    cursor: pointer;
    font-family: susto;
    
}



.fundo{

background-image: url("https://img.freepik.com/fotos-gratis/fundo-de-halloween-com-velas-de-aboboras-assustadoras-e-morcegos-em-uma-floresta-escura-a-noite_123827-25826.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1699488000&semt=ais");
background-repeat: no-repeat ;
background-size: cover;

}

.texto2

{
     margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-family: susto;
    
}


.botão{
    margin-left: 65px;
    margin-top: 19px;
    margin-bottom: 17px;
    color: #ffffff;
    font-size: 18px;
    background-color: #FFA500;
    cursor: pointer;
    border: none;
    border-radius: 55px;
    width: 265px;
    height: 38px;
    display: block;
    text-align: center;
    


}

.lembrar{

    
    margin-top: 10px;
    margin-bottom: 9px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}


.link{
    margin-top: 10px;
    color: #ffffff;
    font-size: 19px;
    margin-left: 60px;
    cursor: pointer;
}

.esqueceu{

margin-left: 60px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
   
}



.email{

    border-radius: 70px;
    border: none;
    height: 28px;
    width: 340px;
    display: block;
 

}

.senha{

    border-radius: 70px;
    border: none;
    height: 28px;
    margin-top: 18px;
    margin-bottom: 18px;
    display: block;
    width: 340px;
    
   
}

.container{
    margin-top: 170px;
    margin-left: 500px;
    background:rgba(128,128,128,0.1);
    height: 370px;
    width: 400px;
    border-radius: 24px;
    

    }

    .input{


        margin-left: 55px;
        

        }

       

        .play{

            font-size: 10px;
            border-radius: 26px;
            background-color: #FFA500;
            border: none;
            font-family: susto;
            width: 60px;
            height: 20px;
        }

        .pause{

            font-size: 10px;
            border-radius: 26px;
            background-color: #FFA500;
            border: none;
            font-family: susto;
            width: 60px;
            height: 20px;
        }